/* styling for body */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.landing-page{
    background: linear-gradient(#1e1d1d96, #100b0bc9),  url(background.jpg);
    height: 100vh;
    margin: 0;
   
}
P{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* styling for header */
header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 7rem;
    margin: 0 2rem;
}
.sign-in{
   padding-top: 3rem;
   border-color: red;
   }
button[type="submit"]{
    background: red;
   color: #fff;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   border-color: red;
}

/* styling for first-page */
.first-page{
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   font-size: 1.8rem;
   margin-top: 7rem;
   line-height: 0.7;
   font-family: sans-serif;
}
.first-page-text{
    width: 100%;
}
#ppp{
    margin-top: 2rem;
}
input[placeholder="Email Address"]{
    padding: 1.42rem 0.5rem 1.1rem;
    width: 30%;
    background: linear-gradient(#373636, #3a33338d);
    border-radius: 0.5rem;
    border:1px solid;
    border-color: #b8b7b7;
    color: white;
}

.first-page-sign{
   width: 100%;
   border-color: red;

}
button[type="button"]{
    background-color: rgb(246, 3, 3);
    border-color: red;
    color: #fff;
    border-radius: 0.4rem;
    width: 16%;
    padding:1rem 0.5rem;
    font-weight: bold;
    font-size: large;
}
/**  styling for header ends here  **/

.sect{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    
    
}

.first{
    width: 40%;

    align-self: center;
    
}
.content{
   align-self: center;
    width: 40%;
  
}

h1{
    font-size: 3.2rem;
}
.fourth{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 4rem;
    margin-left: 15rem;
    justify-content: flex-start;
}
.fourth h1{
    width: 30%;
}
.fourth p{
    margin-top: -1rem;
    width: 30%;
    font-size: 1.3rem;
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sixth{
    display: flex;
    justify-content: center;   
    flex-direction: column;
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    padding-top: 3rem;
    font-size: 1rem;
}
.footlink{
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}
.secondd{
    padding-top: 4rem;
}
#link{
    color: #b8b7b7;
}
.horule{
    background-color: #000;
    height:7px;
    border-width:0;
    color:rgb(16, 13, 13);
    background-color:rgb(38, 37, 37);
    margin-top:-0rem;
}



/**responsiveness begins here
for mobile view of 450px and below**/
/* styling for landing page sign in */
@media only screen and (max-width: 480px) {
    .first-page-sign {
        
    }
    .sect{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .first{
        width: 20rem;
    }
    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
         width: 100%;

        }
        .content>h1{
            font-size: 2.1rem;
            margin-left: 0rem;
            text-align: center;
            margin-top: 1.4rem;
        }
        .content>p{
            margin-top: -0.2rem;
            text-align: center;
            width: 90%;
            font-size: 17px;
        }
        .first-page-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .first-page-text>h2{
            font-size: 1.9rem;
            padding: 1rem 0rem;
            line-height: 1.2;
            margin-top: 0rem;
            margin-bottom: 1rem;
        }
        .first-page-text>p{
            font-size: 16px;
            padding: 0rem 2rem;
            line-height: 1.2;
            margin-top: -1rem;
        }
        #ppp{
            text-align: center;
            margin-top: 0.4rem;
            line-height: 1.6rem;
        }
        .sign-in{display: none;}
        input[placeholder="Email Address"]{
            width: 60%;
            padding: 0.8rem 0.4rem 0.9rem;
        }
        button[type="button"]{
            background-color: red;
            border-color: red;
            color: #fff;
            border-radius: 0.4rem;
            width: 40%;
            padding:0.6rem 0rem;
            font-weight: bold;
            font-size: large;
            margin-top: 1rem;
        }
        .landing-page{
            background: linear-gradient(#1e1d1d96, #100b0bc9),  url(background.jpg);
            height: 90vh;
            margin: 0;
           
        }
        .fourth{
            display: flex;
            flex-direction:column;
            margin-left: 0rem;
            width: 100%;
            align-items: center;
        }
        .fourth h1{
            width: 90%;
            font-size:2rem;
            margin-top: 1.2rem;
            margin-left: 1.5rem;

        }
        .fourth p{
            text-align: center;
            width: 90%; 
            margin-top: -0.6rem;
            font-size: 16px;
            margin-left: 0.1rem;
            line-height: 1.3rem;
        }
        .third h1{
            width: 80%;
        }

  }