/* styling for body */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.landing-page{
    background: linear-gradient(#1e1d1d96, #100b0bc9),  url(background.jpg);
    height: 100vh;
    margin: 0;
   
}

/* styling for header */
header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 7rem;
    margin: 0 2rem;
}
.sign-in{
   padding-top: 3rem;
   border-color: red;
   }
button[type="submit"]{
    background: red;
   color: #fff;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   border-color: red;
}

/* styling for first-page */
.first-page{
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   font-size: 1.8rem;
   margin-top: 6rem;
   line-height: 0.7;
   font-family: sans-serif;
}
.first-page-text{
    width: 100%;
}
input[placeholder="Email Address"]{
    padding: 1.42rem 0.5rem 1.1rem;
    width: 30%;
    background: linear-gradient(#373636, #3a33338d);
    border-radius: 0.5rem;
    border:1px solid;
    border-color: #b8b7b7;
    color: white;
}

.first-page-sign{
   width: 100%;
   border-color: red;

}
button[type="button"]{
    background-color: red;
    border-color: red;
    color: #fff;
    border-radius: 0.4rem;
    width: 16%;
    padding:1rem 0.5rem;
    font-weight: bold;
    font-size: large;
}
/**  styling for header ends here  **/

.sect{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    
    
}

.first{
    width: 40%;

    align-self: center;
    
}
.content{
   align-self: center;
    width: 40%;
  
}

h1{
    font-size: 3.2rem;
}

.sixth{
    display: flex;
    justify-content: center;   
    flex-direction: column;
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    padding-top: 3rem;
    font-size: 1rem;
}
.footlink{
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}
.secondd{
    padding-top: 4rem;
}
#link{
    color: #b8b7b7;
}
.horule{
    background-color: #000;
    height:7px;
    border-width:0;
    color:rgb(16, 13, 13);
    background-color:rgb(38, 37, 37);
    margin-top:-0rem;
}



/**responsiveness begins here
for mobile view of 450px and below**/
@media screen and (max-width: 480px) {
/* styling for landing page sign in */
    .first-page-sign{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
   /* styling for main content */
   .sect{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;   
    }
    .first,.content{
        width: 90%;
        
    } 
    h1{
    font-size: 2rem;
    }
    .content, .fourth{
        text-align: center;
    }
    .mutate1{
        order: 1;
    }
    .mutate{
        order: 2;
    }
    /* styling for footer */
    footer{
        display: flex;
        flex-direction: column;
       
    }
    .secondd{
        padding-top: 0rem;
        padding-left: 0.5rem;
    }
}
